html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-image: url("https://www.designpieces.com/wp-content/uploads/2013/01/social-media-shapes-title-image.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height: 100%;
}
.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}
.nav-container {
  margin: auto;
}
.nav-container svg {
  color: #fff;
}
a {
  text-decoration: none;
}


#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1728px 584px #FFF , 1622px 1266px #FFF , 1803px 745px #FFF , 811px 1622px #FFF , 461px 1644px #FFF , 1933px 1886px #FFF , 1843px 1802px #FFF , 1301px 1502px #FFF , 301px 1417px #FFF , 1860px 430px #FFF , 1979px 732px #FFF , 1610px 1435px #FFF , 633px 445px #FFF , 233px 2px #FFF , 1817px 318px #FFF , 1039px 1592px #FFF , 728px 228px #FFF , 272px 1202px #FFF , 1165px 1308px #FFF , 1028px 1997px #FFF , 1685px 1411px #FFF , 454px 928px #FFF , 1772px 1984px #FFF , 1792px 611px #FFF , 524px 1987px #FFF , 1280px 620px #FFF , 1169px 1258px #FFF , 1545px 211px #FFF , 1677px 1719px #FFF , 1064px 274px #FFF , 540px 1077px #FFF , 1690px 307px #FFF , 666px 469px #FFF , 267px 733px #FFF , 721px 1967px #FFF , 1816px 408px #FFF , 1443px 1143px #FFF , 665px 509px #FFF , 1734px 1162px #FFF , 1824px 1581px #FFF , 556px 1015px #FFF , 1839px 555px #FFF , 959px 139px #FFF , 1549px 793px #FFF , 1962px 1651px #FFF , 678px 1545px #FFF , 673px 462px #FFF , 973px 1522px #FFF , 35px 523px #FFF , 1203px 1279px #FFF , 161px 611px #FFF , 602px 12px #FFF , 626px 1518px #FFF , 573px 517px #FFF , 1660px 624px #FFF , 12px 1326px #FFF , 1083px 1500px #FFF , 927px 1386px #FFF , 1344px 491px #FFF , 716px 1857px #FFF , 399px 1637px #FFF , 590px 519px #FFF , 1699px 1879px #FFF , 1888px 665px #FFF , 1114px 551px #FFF , 1842px 1116px #FFF , 1179px 33px #FFF , 384px 1809px #FFF , 391px 1882px #FFF , 162px 1879px #FFF , 1828px 362px #FFF , 956px 428px #FFF , 1362px 527px #FFF , 1564px 164px #FFF , 1471px 1585px #FFF , 121px 862px #FFF , 517px 1400px #FFF , 808px 1158px #FFF , 997px 1084px #FFF , 1529px 1183px #FFF , 756px 782px #FFF , 948px 1599px #FFF , 410px 1471px #FFF , 1447px 1634px #FFF , 1873px 24px #FFF , 1626px 117px #FFF , 1181px 1218px #FFF , 544px 638px #FFF , 1280px 502px #FFF , 886px 568px #FFF , 1837px 846px #FFF , 1849px 1730px #FFF , 984px 1805px #FFF , 224px 1091px #FFF , 1782px 1295px #FFF , 1185px 1785px #FFF , 1250px 351px #FFF , 752px 1714px #FFF , 665px 1016px #FFF , 1428px 1405px #FFF , 191px 1031px #FFF , 837px 735px #FFF , 1326px 1071px #FFF , 344px 1087px #FFF , 396px 1331px #FFF , 1700px 1611px #FFF , 1370px 671px #FFF , 1319px 1096px #FFF , 1842px 61px #FFF , 1239px 1117px #FFF , 1109px 507px #FFF , 1441px 1820px #FFF , 1109px 1844px #FFF , 1869px 279px #FFF , 1445px 296px #FFF , 736px 298px #FFF , 1224px 1552px #FFF , 976px 1390px #FFF , 742px 866px #FFF , 372px 1611px #FFF , 731px 973px #FFF , 1805px 1648px #FFF , 1626px 797px #FFF , 19px 1479px #FFF , 1545px 562px #FFF , 530px 200px #FFF , 507px 1358px #FFF , 1810px 334px #FFF , 156px 1120px #FFF , 1282px 637px #FFF , 1221px 243px #FFF , 603px 544px #FFF , 1210px 1722px #FFF , 966px 537px #FFF , 126px 449px #FFF , 978px 154px #FFF , 829px 1700px #FFF , 697px 1910px #FFF , 1710px 207px #FFF , 1941px 1867px #FFF , 319px 1069px #FFF , 1074px 118px #FFF , 1910px 832px #FFF , 1868px 1365px #FFF , 570px 51px #FFF , 1168px 1202px #FFF , 1225px 453px #FFF , 1168px 617px #FFF , 1660px 1683px #FFF , 1344px 1852px #FFF , 1050px 639px #FFF , 1837px 378px #FFF , 75px 1281px #FFF , 1779px 185px #FFF , 717px 417px #FFF , 724px 1908px #FFF , 843px 162px #FFF , 1088px 403px #FFF , 156px 1876px #FFF , 398px 561px #FFF , 1292px 1346px #FFF , 857px 1575px #FFF , 215px 1443px #FFF , 491px 1117px #FFF , 1427px 1061px #FFF , 1364px 886px #FFF , 1656px 885px #FFF , 849px 1595px #FFF , 1323px 1074px #FFF , 28px 563px #FFF , 955px 934px #FFF , 1138px 576px #FFF , 1695px 1468px #FFF , 1728px 1735px #FFF , 59px 790px #FFF , 218px 131px #FFF , 843px 870px #FFF , 15px 1460px #FFF , 1758px 742px #FFF , 908px 241px #FFF , 88px 1322px #FFF , 428px 1659px #FFF , 1535px 1035px #FFF , 215px 701px #FFF , 80px 1700px #FFF , 418px 390px #FFF , 1759px 82px #FFF , 1464px 1558px #FFF , 692px 1971px #FFF , 1892px 754px #FFF , 1191px 1133px #FFF , 1590px 1385px #FFF , 621px 49px #FFF , 1034px 1814px #FFF , 1266px 1613px #FFF , 1667px 1960px #FFF , 993px 203px #FFF , 1921px 18px #FFF , 1857px 55px #FFF , 446px 1885px #FFF , 66px 1452px #FFF , 14px 769px #FFF , 9px 988px #FFF , 574px 130px #FFF , 1360px 647px #FFF , 215px 709px #FFF , 1324px 1885px #FFF , 143px 646px #FFF , 1725px 71px #FFF , 664px 1962px #FFF , 1619px 806px #FFF , 1535px 912px #FFF , 1199px 577px #FFF , 387px 1676px #FFF , 1646px 645px #FFF , 1967px 459px #FFF , 1697px 414px #FFF , 688px 1469px #FFF , 1821px 1037px #FFF , 1616px 569px #FFF , 1132px 1972px #FFF , 827px 1080px #FFF , 1px 1244px #FFF , 673px 733px #FFF , 1653px 1629px #FFF , 646px 1759px #FFF , 11px 1735px #FFF , 261px 653px #FFF , 1381px 603px #FFF , 1318px 1755px #FFF , 1390px 245px #FFF , 547px 156px #FFF , 1013px 299px #FFF , 634px 946px #FFF , 602px 1066px #FFF , 217px 1855px #FFF , 1130px 560px #FFF , 1437px 2px #FFF , 1451px 1840px #FFF , 1531px 1145px #FFF , 1788px 1543px #FFF , 695px 1686px #FFF , 1151px 1449px #FFF , 207px 1031px #FFF , 1893px 1251px #FFF , 1457px 501px #FFF , 1724px 972px #FFF , 131px 698px #FFF , 1687px 1488px #FFF , 1371px 1446px #FFF , 1109px 1589px #FFF , 1020px 1422px #FFF , 1535px 834px #FFF , 1918px 1724px #FFF , 16px 134px #FFF , 1538px 212px #FFF , 704px 539px #FFF , 164px 648px #FFF , 1525px 1684px #FFF , 1275px 1784px #FFF , 795px 747px #FFF , 1735px 1758px #FFF , 767px 1831px #FFF , 1885px 874px #FFF , 755px 583px #FFF , 938px 25px #FFF , 1599px 1987px #FFF , 978px 1741px #FFF , 427px 1752px #FFF , 479px 1185px #FFF , 296px 1717px #FFF , 1840px 839px #FFF , 1552px 339px #FFF , 1089px 266px #FFF , 1020px 148px #FFF , 221px 11px #FFF , 896px 844px #FFF , 933px 297px #FFF , 647px 40px #FFF , 1450px 1532px #FFF , 412px 1665px #FFF , 1483px 1195px #FFF , 1645px 1120px #FFF , 947px 173px #FFF , 454px 192px #FFF , 1536px 1688px #FFF , 1865px 1059px #FFF , 1155px 96px #FFF , 652px 1415px #FFF , 1484px 363px #FFF , 493px 1410px #FFF , 400px 1412px #FFF , 1758px 1813px #FFF , 404px 1953px #FFF , 489px 533px #FFF , 156px 1091px #FFF , 720px 1033px #FFF , 1873px 1196px #FFF , 1818px 444px #FFF , 926px 1551px #FFF , 1345px 1499px #FFF , 1127px 1931px #FFF , 908px 1743px #FFF , 574px 1275px #FFF , 429px 1856px #FFF , 1611px 1508px #FFF , 850px 1343px #FFF , 209px 1130px #FFF , 1685px 1184px #FFF , 1038px 828px #FFF , 142px 53px #FFF , 270px 792px #FFF , 1058px 40px #FFF , 768px 419px #FFF , 1957px 1991px #FFF , 604px 1492px #FFF , 1057px 1798px #FFF , 718px 556px #FFF , 584px 358px #FFF , 1432px 542px #FFF , 139px 1202px #FFF , 1877px 1875px #FFF , 877px 63px #FFF , 1124px 1178px #FFF , 134px 45px #FFF , 1131px 197px #FFF , 795px 1875px #FFF , 657px 63px #FFF , 653px 1064px #FFF , 737px 1697px #FFF , 1515px 1595px #FFF , 1846px 159px #FFF , 490px 1988px #FFF , 1942px 27px #FFF , 1991px 276px #FFF , 83px 750px #FFF , 1088px 1082px #FFF , 1721px 1295px #FFF , 1859px 102px #FFF , 121px 308px #FFF , 1865px 287px #FFF , 1169px 1140px #FFF , 1387px 108px #FFF , 203px 563px #FFF , 201px 685px #FFF , 670px 419px #FFF , 77px 618px #FFF , 1711px 1220px #FFF , 1850px 1992px #FFF , 35px 694px #FFF , 1408px 1499px #FFF , 785px 1559px #FFF , 175px 1415px #FFF , 1803px 635px #FFF , 1917px 1624px #FFF , 1975px 1270px #FFF , 955px 1544px #FFF , 1571px 1958px #FFF , 63px 1573px #FFF , 1878px 436px #FFF , 529px 269px #FFF , 1595px 1499px #FFF , 1234px 1321px #FFF , 244px 1789px #FFF , 131px 66px #FFF , 963px 1603px #FFF , 523px 1833px #FFF , 552px 1113px #FFF , 1494px 1079px #FFF , 1299px 206px #FFF , 1594px 1627px #FFF , 404px 885px #FFF , 1712px 1386px #FFF , 199px 1337px #FFF , 1421px 14px #FFF , 1456px 1071px #FFF , 791px 885px #FFF , 812px 1172px #FFF , 325px 300px #FFF , 1744px 452px #FFF , 701px 1967px #FFF , 1603px 989px #FFF , 1439px 1379px #FFF , 66px 608px #FFF , 1769px 1634px #FFF , 787px 1882px #FFF , 658px 1769px #FFF , 1773px 1453px #FFF , 1250px 129px #FFF , 1807px 223px #FFF , 1622px 144px #FFF , 101px 1446px #FFF , 1977px 1773px #FFF , 1200px 1702px #FFF , 1629px 1697px #FFF , 742px 1990px #FFF , 205px 1582px #FFF , 1077px 1553px #FFF , 642px 87px #FFF , 1996px 60px #FFF , 331px 418px #FFF , 939px 1777px #FFF , 99px 545px #FFF , 1754px 400px #FFF , 955px 1372px #FFF , 892px 339px #FFF , 1314px 1598px #FFF , 277px 1076px #FFF , 1169px 675px #FFF , 685px 1386px #FFF , 82px 1945px #FFF , 83px 55px #FFF , 1165px 1687px #FFF , 768px 1967px #FFF , 467px 1501px #FFF , 1506px 112px #FFF , 1140px 763px #FFF , 657px 1466px #FFF , 620px 561px #FFF , 64px 689px #FFF , 1752px 1310px #FFF , 1285px 1828px #FFF , 1402px 582px #FFF , 68px 245px #FFF , 50px 584px #FFF , 288px 1163px #FFF , 1199px 872px #FFF , 1532px 413px #FFF , 205px 1942px #FFF , 1505px 867px #FFF , 1541px 221px #FFF , 386px 38px #FFF , 1727px 785px #FFF , 1543px 1245px #FFF , 1168px 1824px #FFF , 1663px 978px #FFF , 1087px 927px #FFF , 1759px 369px #FFF , 579px 213px #FFF , 1794px 1990px #FFF , 755px 1920px #FFF , 1828px 1975px #FFF , 1363px 680px #FFF , 1183px 335px #FFF , 1649px 1630px #FFF , 449px 937px #FFF , 1128px 365px #FFF , 1768px 1762px #FFF , 399px 375px #FFF , 1868px 438px #FFF , 678px 41px #FFF , 1604px 65px #FFF , 1784px 925px #FFF , 953px 1943px #FFF , 173px 61px #FFF , 1837px 1996px #FFF , 7px 440px #FFF , 955px 1851px #FFF , 1711px 367px #FFF , 1157px 2000px #FFF , 1554px 1035px #FFF , 1092px 882px #FFF , 1691px 1640px #FFF , 1703px 986px #FFF , 492px 1139px #FFF , 658px 1423px #FFF , 974px 1606px #FFF , 1853px 857px #FFF , 1313px 970px #FFF , 69px 619px #FFF , 1009px 96px #FFF , 73px 629px #FFF , 1376px 1783px #FFF , 1447px 1494px #FFF , 1593px 216px #FFF , 1915px 1817px #FFF , 1746px 1960px #FFF , 432px 829px #FFF , 1618px 1028px #FFF , 1049px 1184px #FFF , 930px 114px #FFF , 1977px 965px #FFF , 803px 91px #FFF , 223px 1953px #FFF , 364px 776px #FFF , 1285px 830px #FFF , 944px 1651px #FFF , 369px 222px #FFF , 805px 166px #FFF , 899px 1644px #FFF , 1319px 1253px #FFF , 1142px 991px #FFF , 417px 262px #FFF , 1485px 1251px #FFF , 1922px 1663px #FFF , 442px 1998px #FFF , 698px 1869px #FFF , 954px 1663px #FFF , 1370px 280px #FFF , 260px 105px #FFF , 1479px 61px #FFF , 911px 588px #FFF , 1701px 1207px #FFF , 1528px 661px #FFF , 1221px 147px #FFF , 1723px 1080px #FFF , 804px 969px #FFF , 426px 555px #FFF , 1970px 772px #FFF , 1389px 1239px #FFF , 758px 502px #FFF , 1164px 345px #FFF , 989px 1624px #FFF , 1627px 353px #FFF , 1246px 180px #FFF , 1726px 3px #FFF , 1206px 1806px #FFF , 627px 804px #FFF , 1095px 1592px #FFF , 71px 1467px #FFF , 1273px 1494px #FFF , 441px 562px #FFF , 1065px 1135px #FFF , 706px 767px #FFF , 640px 1367px #FFF , 1761px 1514px #FFF , 1481px 639px #FFF , 1810px 569px #FFF , 1290px 1289px #FFF , 1110px 1735px #FFF , 1745px 899px #FFF , 607px 1226px #FFF , 888px 1930px #FFF , 1263px 855px #FFF , 1986px 343px #FFF , 1576px 506px #FFF , 1535px 39px #FFF , 91px 1634px #FFF , 13px 714px #FFF , 1464px 1458px #FFF , 1563px 1182px #FFF , 1299px 20px #FFF , 178px 40px #FFF , 1647px 1571px #FFF , 1418px 507px #FFF , 508px 1774px #FFF , 1985px 717px #FFF , 1187px 1561px #FFF , 1976px 363px #FFF , 1380px 1610px #FFF , 26px 1528px #FFF , 1210px 343px #FFF , 1371px 818px #FFF , 140px 1779px #FFF , 587px 306px #FFF , 415px 1634px #FFF , 595px 719px #FFF , 854px 1078px #FFF , 784px 169px #FFF , 1022px 362px #FFF , 1138px 1224px #FFF , 636px 1783px #FFF , 1444px 1299px #FFF , 133px 1651px #FFF , 1968px 224px #FFF , 186px 166px #FFF , 1868px 436px #FFF , 1147px 163px #FFF , 411px 1881px #FFF , 12px 1737px #FFF , 1017px 1459px #FFF , 1905px 648px #FFF , 267px 950px #FFF , 651px 1638px #FFF , 51px 1156px #FFF , 817px 425px #FFF , 1586px 1158px #FFF , 1065px 1270px #FFF , 715px 273px #FFF , 721px 1209px #FFF , 1749px 961px #FFF , 739px 1632px #FFF , 357px 1890px #FFF , 146px 968px #FFF , 1263px 1671px #FFF , 800px 51px #FFF , 950px 157px #FFF , 425px 743px #FFF , 1322px 250px #FFF , 1094px 1707px #FFF , 1039px 750px #FFF , 1201px 796px #FFF , 1512px 659px #FFF , 121px 194px #FFF , 1808px 435px #FFF , 407px 51px #FFF , 1014px 269px #FFF , 627px 1630px #FFF , 1805px 1974px #FFF , 710px 1440px #FFF , 220px 1406px #FFF , 1551px 1634px #FFF , 421px 1176px #FFF , 1371px 573px #FFF , 726px 1479px #FFF , 985px 1908px #FFF , 808px 1274px #FFF , 1248px 920px #FFF , 1968px 730px #FFF , 1038px 903px #FFF , 924px 505px #FFF , 1773px 1140px #FFF , 283px 1302px #FFF , 714px 1840px #FFF , 570px 279px #FFF , 1305px 60px #FFF , 818px 1771px #FFF , 215px 1346px #FFF , 582px 1454px #FFF , 354px 1874px #FFF , 917px 1920px #FFF , 1117px 1431px #FFF , 292px 1205px #FFF , 1489px 1091px #FFF , 906px 1316px #FFF , 1515px 1611px #FFF , 1602px 1021px #FFF , 1529px 368px #FFF , 1911px 84px #FFF , 490px 342px #FFF , 419px 1144px #FFF , 361px 642px #FFF , 35px 567px #FFF , 940px 1649px #FFF , 505px 1796px #FFF , 101px 354px #FFF , 474px 1945px #FFF , 705px 1088px #FFF , 1416px 787px #FFF , 215px 1159px #FFF , 712px 1789px #FFF , 93px 1845px #FFF , 412px 992px #FFF , 704px 914px #FFF , 1766px 1784px #FFF , 821px 452px #FFF , 1415px 1036px #FFF , 652px 765px #FFF , 199px 451px #FFF , 98px 1170px #FFF , 1224px 948px #FFF , 1800px 955px #FFF , 1411px 587px #FFF , 443px 769px #FFF , 1037px 1378px #FFF , 1412px 1384px #FFF , 221px 1933px #FFF , 1349px 1543px #FFF , 25px 1012px #FFF , 895px 1684px #FFF , 856px 1552px #FFF , 1061px 595px #FFF , 135px 786px #FFF , 1562px 1506px #FFF , 47px 695px #FFF , 1794px 1857px #FFF , 834px 1217px #FFF , 1722px 687px #FFF , 603px 1686px #FFF , 1980px 998px #FFF , 177px 1892px #FFF , 1589px 1835px #FFF , 82px 180px #FFF , 1694px 595px #FFF , 1618px 278px #FFF , 1047px 1129px #FFF , 977px 181px #FFF , 698px 1643px #FFF , 995px 112px #FFF , 1162px 1268px #FFF , 897px 1162px #FFF , 1153px 237px #FFF , 1226px 657px #FFF , 927px 377px #FFF , 556px 677px #FFF , 990px 1309px #FFF , 1209px 1971px #FFF , 502px 1949px #FFF , 1374px 274px #FFF , 550px 368px #FFF , 1160px 895px #FFF , 137px 1166px #FFF , 67px 1931px #FFF , 989px 569px #FFF , 541px 618px #FFF , 1334px 1967px #FFF , 20px 581px #FFF , 1758px 1414px #FFF , 1009px 1459px #FFF , 288px 1006px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1728px 584px #FFF , 1622px 1266px #FFF , 1803px 745px #FFF , 811px 1622px #FFF , 461px 1644px #FFF , 1933px 1886px #FFF , 1843px 1802px #FFF , 1301px 1502px #FFF , 301px 1417px #FFF , 1860px 430px #FFF , 1979px 732px #FFF , 1610px 1435px #FFF , 633px 445px #FFF , 233px 2px #FFF , 1817px 318px #FFF , 1039px 1592px #FFF , 728px 228px #FFF , 272px 1202px #FFF , 1165px 1308px #FFF , 1028px 1997px #FFF , 1685px 1411px #FFF , 454px 928px #FFF , 1772px 1984px #FFF , 1792px 611px #FFF , 524px 1987px #FFF , 1280px 620px #FFF , 1169px 1258px #FFF , 1545px 211px #FFF , 1677px 1719px #FFF , 1064px 274px #FFF , 540px 1077px #FFF , 1690px 307px #FFF , 666px 469px #FFF , 267px 733px #FFF , 721px 1967px #FFF , 1816px 408px #FFF , 1443px 1143px #FFF , 665px 509px #FFF , 1734px 1162px #FFF , 1824px 1581px #FFF , 556px 1015px #FFF , 1839px 555px #FFF , 959px 139px #FFF , 1549px 793px #FFF , 1962px 1651px #FFF , 678px 1545px #FFF , 673px 462px #FFF , 973px 1522px #FFF , 35px 523px #FFF , 1203px 1279px #FFF , 161px 611px #FFF , 602px 12px #FFF , 626px 1518px #FFF , 573px 517px #FFF , 1660px 624px #FFF , 12px 1326px #FFF , 1083px 1500px #FFF , 927px 1386px #FFF , 1344px 491px #FFF , 716px 1857px #FFF , 399px 1637px #FFF , 590px 519px #FFF , 1699px 1879px #FFF , 1888px 665px #FFF , 1114px 551px #FFF , 1842px 1116px #FFF , 1179px 33px #FFF , 384px 1809px #FFF , 391px 1882px #FFF , 162px 1879px #FFF , 1828px 362px #FFF , 956px 428px #FFF , 1362px 527px #FFF , 1564px 164px #FFF , 1471px 1585px #FFF , 121px 862px #FFF , 517px 1400px #FFF , 808px 1158px #FFF , 997px 1084px #FFF , 1529px 1183px #FFF , 756px 782px #FFF , 948px 1599px #FFF , 410px 1471px #FFF , 1447px 1634px #FFF , 1873px 24px #FFF , 1626px 117px #FFF , 1181px 1218px #FFF , 544px 638px #FFF , 1280px 502px #FFF , 886px 568px #FFF , 1837px 846px #FFF , 1849px 1730px #FFF , 984px 1805px #FFF , 224px 1091px #FFF , 1782px 1295px #FFF , 1185px 1785px #FFF , 1250px 351px #FFF , 752px 1714px #FFF , 665px 1016px #FFF , 1428px 1405px #FFF , 191px 1031px #FFF , 837px 735px #FFF , 1326px 1071px #FFF , 344px 1087px #FFF , 396px 1331px #FFF , 1700px 1611px #FFF , 1370px 671px #FFF , 1319px 1096px #FFF , 1842px 61px #FFF , 1239px 1117px #FFF , 1109px 507px #FFF , 1441px 1820px #FFF , 1109px 1844px #FFF , 1869px 279px #FFF , 1445px 296px #FFF , 736px 298px #FFF , 1224px 1552px #FFF , 976px 1390px #FFF , 742px 866px #FFF , 372px 1611px #FFF , 731px 973px #FFF , 1805px 1648px #FFF , 1626px 797px #FFF , 19px 1479px #FFF , 1545px 562px #FFF , 530px 200px #FFF , 507px 1358px #FFF , 1810px 334px #FFF , 156px 1120px #FFF , 1282px 637px #FFF , 1221px 243px #FFF , 603px 544px #FFF , 1210px 1722px #FFF , 966px 537px #FFF , 126px 449px #FFF , 978px 154px #FFF , 829px 1700px #FFF , 697px 1910px #FFF , 1710px 207px #FFF , 1941px 1867px #FFF , 319px 1069px #FFF , 1074px 118px #FFF , 1910px 832px #FFF , 1868px 1365px #FFF , 570px 51px #FFF , 1168px 1202px #FFF , 1225px 453px #FFF , 1168px 617px #FFF , 1660px 1683px #FFF , 1344px 1852px #FFF , 1050px 639px #FFF , 1837px 378px #FFF , 75px 1281px #FFF , 1779px 185px #FFF , 717px 417px #FFF , 724px 1908px #FFF , 843px 162px #FFF , 1088px 403px #FFF , 156px 1876px #FFF , 398px 561px #FFF , 1292px 1346px #FFF , 857px 1575px #FFF , 215px 1443px #FFF , 491px 1117px #FFF , 1427px 1061px #FFF , 1364px 886px #FFF , 1656px 885px #FFF , 849px 1595px #FFF , 1323px 1074px #FFF , 28px 563px #FFF , 955px 934px #FFF , 1138px 576px #FFF , 1695px 1468px #FFF , 1728px 1735px #FFF , 59px 790px #FFF , 218px 131px #FFF , 843px 870px #FFF , 15px 1460px #FFF , 1758px 742px #FFF , 908px 241px #FFF , 88px 1322px #FFF , 428px 1659px #FFF , 1535px 1035px #FFF , 215px 701px #FFF , 80px 1700px #FFF , 418px 390px #FFF , 1759px 82px #FFF , 1464px 1558px #FFF , 692px 1971px #FFF , 1892px 754px #FFF , 1191px 1133px #FFF , 1590px 1385px #FFF , 621px 49px #FFF , 1034px 1814px #FFF , 1266px 1613px #FFF , 1667px 1960px #FFF , 993px 203px #FFF , 1921px 18px #FFF , 1857px 55px #FFF , 446px 1885px #FFF , 66px 1452px #FFF , 14px 769px #FFF , 9px 988px #FFF , 574px 130px #FFF , 1360px 647px #FFF , 215px 709px #FFF , 1324px 1885px #FFF , 143px 646px #FFF , 1725px 71px #FFF , 664px 1962px #FFF , 1619px 806px #FFF , 1535px 912px #FFF , 1199px 577px #FFF , 387px 1676px #FFF , 1646px 645px #FFF , 1967px 459px #FFF , 1697px 414px #FFF , 688px 1469px #FFF , 1821px 1037px #FFF , 1616px 569px #FFF , 1132px 1972px #FFF , 827px 1080px #FFF , 1px 1244px #FFF , 673px 733px #FFF , 1653px 1629px #FFF , 646px 1759px #FFF , 11px 1735px #FFF , 261px 653px #FFF , 1381px 603px #FFF , 1318px 1755px #FFF , 1390px 245px #FFF , 547px 156px #FFF , 1013px 299px #FFF , 634px 946px #FFF , 602px 1066px #FFF , 217px 1855px #FFF , 1130px 560px #FFF , 1437px 2px #FFF , 1451px 1840px #FFF , 1531px 1145px #FFF , 1788px 1543px #FFF , 695px 1686px #FFF , 1151px 1449px #FFF , 207px 1031px #FFF , 1893px 1251px #FFF , 1457px 501px #FFF , 1724px 972px #FFF , 131px 698px #FFF , 1687px 1488px #FFF , 1371px 1446px #FFF , 1109px 1589px #FFF , 1020px 1422px #FFF , 1535px 834px #FFF , 1918px 1724px #FFF , 16px 134px #FFF , 1538px 212px #FFF , 704px 539px #FFF , 164px 648px #FFF , 1525px 1684px #FFF , 1275px 1784px #FFF , 795px 747px #FFF , 1735px 1758px #FFF , 767px 1831px #FFF , 1885px 874px #FFF , 755px 583px #FFF , 938px 25px #FFF , 1599px 1987px #FFF , 978px 1741px #FFF , 427px 1752px #FFF , 479px 1185px #FFF , 296px 1717px #FFF , 1840px 839px #FFF , 1552px 339px #FFF , 1089px 266px #FFF , 1020px 148px #FFF , 221px 11px #FFF , 896px 844px #FFF , 933px 297px #FFF , 647px 40px #FFF , 1450px 1532px #FFF , 412px 1665px #FFF , 1483px 1195px #FFF , 1645px 1120px #FFF , 947px 173px #FFF , 454px 192px #FFF , 1536px 1688px #FFF , 1865px 1059px #FFF , 1155px 96px #FFF , 652px 1415px #FFF , 1484px 363px #FFF , 493px 1410px #FFF , 400px 1412px #FFF , 1758px 1813px #FFF , 404px 1953px #FFF , 489px 533px #FFF , 156px 1091px #FFF , 720px 1033px #FFF , 1873px 1196px #FFF , 1818px 444px #FFF , 926px 1551px #FFF , 1345px 1499px #FFF , 1127px 1931px #FFF , 908px 1743px #FFF , 574px 1275px #FFF , 429px 1856px #FFF , 1611px 1508px #FFF , 850px 1343px #FFF , 209px 1130px #FFF , 1685px 1184px #FFF , 1038px 828px #FFF , 142px 53px #FFF , 270px 792px #FFF , 1058px 40px #FFF , 768px 419px #FFF , 1957px 1991px #FFF , 604px 1492px #FFF , 1057px 1798px #FFF , 718px 556px #FFF , 584px 358px #FFF , 1432px 542px #FFF , 139px 1202px #FFF , 1877px 1875px #FFF , 877px 63px #FFF , 1124px 1178px #FFF , 134px 45px #FFF , 1131px 197px #FFF , 795px 1875px #FFF , 657px 63px #FFF , 653px 1064px #FFF , 737px 1697px #FFF , 1515px 1595px #FFF , 1846px 159px #FFF , 490px 1988px #FFF , 1942px 27px #FFF , 1991px 276px #FFF , 83px 750px #FFF , 1088px 1082px #FFF , 1721px 1295px #FFF , 1859px 102px #FFF , 121px 308px #FFF , 1865px 287px #FFF , 1169px 1140px #FFF , 1387px 108px #FFF , 203px 563px #FFF , 201px 685px #FFF , 670px 419px #FFF , 77px 618px #FFF , 1711px 1220px #FFF , 1850px 1992px #FFF , 35px 694px #FFF , 1408px 1499px #FFF , 785px 1559px #FFF , 175px 1415px #FFF , 1803px 635px #FFF , 1917px 1624px #FFF , 1975px 1270px #FFF , 955px 1544px #FFF , 1571px 1958px #FFF , 63px 1573px #FFF , 1878px 436px #FFF , 529px 269px #FFF , 1595px 1499px #FFF , 1234px 1321px #FFF , 244px 1789px #FFF , 131px 66px #FFF , 963px 1603px #FFF , 523px 1833px #FFF , 552px 1113px #FFF , 1494px 1079px #FFF , 1299px 206px #FFF , 1594px 1627px #FFF , 404px 885px #FFF , 1712px 1386px #FFF , 199px 1337px #FFF , 1421px 14px #FFF , 1456px 1071px #FFF , 791px 885px #FFF , 812px 1172px #FFF , 325px 300px #FFF , 1744px 452px #FFF , 701px 1967px #FFF , 1603px 989px #FFF , 1439px 1379px #FFF , 66px 608px #FFF , 1769px 1634px #FFF , 787px 1882px #FFF , 658px 1769px #FFF , 1773px 1453px #FFF , 1250px 129px #FFF , 1807px 223px #FFF , 1622px 144px #FFF , 101px 1446px #FFF , 1977px 1773px #FFF , 1200px 1702px #FFF , 1629px 1697px #FFF , 742px 1990px #FFF , 205px 1582px #FFF , 1077px 1553px #FFF , 642px 87px #FFF , 1996px 60px #FFF , 331px 418px #FFF , 939px 1777px #FFF , 99px 545px #FFF , 1754px 400px #FFF , 955px 1372px #FFF , 892px 339px #FFF , 1314px 1598px #FFF , 277px 1076px #FFF , 1169px 675px #FFF , 685px 1386px #FFF , 82px 1945px #FFF , 83px 55px #FFF , 1165px 1687px #FFF , 768px 1967px #FFF , 467px 1501px #FFF , 1506px 112px #FFF , 1140px 763px #FFF , 657px 1466px #FFF , 620px 561px #FFF , 64px 689px #FFF , 1752px 1310px #FFF , 1285px 1828px #FFF , 1402px 582px #FFF , 68px 245px #FFF , 50px 584px #FFF , 288px 1163px #FFF , 1199px 872px #FFF , 1532px 413px #FFF , 205px 1942px #FFF , 1505px 867px #FFF , 1541px 221px #FFF , 386px 38px #FFF , 1727px 785px #FFF , 1543px 1245px #FFF , 1168px 1824px #FFF , 1663px 978px #FFF , 1087px 927px #FFF , 1759px 369px #FFF , 579px 213px #FFF , 1794px 1990px #FFF , 755px 1920px #FFF , 1828px 1975px #FFF , 1363px 680px #FFF , 1183px 335px #FFF , 1649px 1630px #FFF , 449px 937px #FFF , 1128px 365px #FFF , 1768px 1762px #FFF , 399px 375px #FFF , 1868px 438px #FFF , 678px 41px #FFF , 1604px 65px #FFF , 1784px 925px #FFF , 953px 1943px #FFF , 173px 61px #FFF , 1837px 1996px #FFF , 7px 440px #FFF , 955px 1851px #FFF , 1711px 367px #FFF , 1157px 2000px #FFF , 1554px 1035px #FFF , 1092px 882px #FFF , 1691px 1640px #FFF , 1703px 986px #FFF , 492px 1139px #FFF , 658px 1423px #FFF , 974px 1606px #FFF , 1853px 857px #FFF , 1313px 970px #FFF , 69px 619px #FFF , 1009px 96px #FFF , 73px 629px #FFF , 1376px 1783px #FFF , 1447px 1494px #FFF , 1593px 216px #FFF , 1915px 1817px #FFF , 1746px 1960px #FFF , 432px 829px #FFF , 1618px 1028px #FFF , 1049px 1184px #FFF , 930px 114px #FFF , 1977px 965px #FFF , 803px 91px #FFF , 223px 1953px #FFF , 364px 776px #FFF , 1285px 830px #FFF , 944px 1651px #FFF , 369px 222px #FFF , 805px 166px #FFF , 899px 1644px #FFF , 1319px 1253px #FFF , 1142px 991px #FFF , 417px 262px #FFF , 1485px 1251px #FFF , 1922px 1663px #FFF , 442px 1998px #FFF , 698px 1869px #FFF , 954px 1663px #FFF , 1370px 280px #FFF , 260px 105px #FFF , 1479px 61px #FFF , 911px 588px #FFF , 1701px 1207px #FFF , 1528px 661px #FFF , 1221px 147px #FFF , 1723px 1080px #FFF , 804px 969px #FFF , 426px 555px #FFF , 1970px 772px #FFF , 1389px 1239px #FFF , 758px 502px #FFF , 1164px 345px #FFF , 989px 1624px #FFF , 1627px 353px #FFF , 1246px 180px #FFF , 1726px 3px #FFF , 1206px 1806px #FFF , 627px 804px #FFF , 1095px 1592px #FFF , 71px 1467px #FFF , 1273px 1494px #FFF , 441px 562px #FFF , 1065px 1135px #FFF , 706px 767px #FFF , 640px 1367px #FFF , 1761px 1514px #FFF , 1481px 639px #FFF , 1810px 569px #FFF , 1290px 1289px #FFF , 1110px 1735px #FFF , 1745px 899px #FFF , 607px 1226px #FFF , 888px 1930px #FFF , 1263px 855px #FFF , 1986px 343px #FFF , 1576px 506px #FFF , 1535px 39px #FFF , 91px 1634px #FFF , 13px 714px #FFF , 1464px 1458px #FFF , 1563px 1182px #FFF , 1299px 20px #FFF , 178px 40px #FFF , 1647px 1571px #FFF , 1418px 507px #FFF , 508px 1774px #FFF , 1985px 717px #FFF , 1187px 1561px #FFF , 1976px 363px #FFF , 1380px 1610px #FFF , 26px 1528px #FFF , 1210px 343px #FFF , 1371px 818px #FFF , 140px 1779px #FFF , 587px 306px #FFF , 415px 1634px #FFF , 595px 719px #FFF , 854px 1078px #FFF , 784px 169px #FFF , 1022px 362px #FFF , 1138px 1224px #FFF , 636px 1783px #FFF , 1444px 1299px #FFF , 133px 1651px #FFF , 1968px 224px #FFF , 186px 166px #FFF , 1868px 436px #FFF , 1147px 163px #FFF , 411px 1881px #FFF , 12px 1737px #FFF , 1017px 1459px #FFF , 1905px 648px #FFF , 267px 950px #FFF , 651px 1638px #FFF , 51px 1156px #FFF , 817px 425px #FFF , 1586px 1158px #FFF , 1065px 1270px #FFF , 715px 273px #FFF , 721px 1209px #FFF , 1749px 961px #FFF , 739px 1632px #FFF , 357px 1890px #FFF , 146px 968px #FFF , 1263px 1671px #FFF , 800px 51px #FFF , 950px 157px #FFF , 425px 743px #FFF , 1322px 250px #FFF , 1094px 1707px #FFF , 1039px 750px #FFF , 1201px 796px #FFF , 1512px 659px #FFF , 121px 194px #FFF , 1808px 435px #FFF , 407px 51px #FFF , 1014px 269px #FFF , 627px 1630px #FFF , 1805px 1974px #FFF , 710px 1440px #FFF , 220px 1406px #FFF , 1551px 1634px #FFF , 421px 1176px #FFF , 1371px 573px #FFF , 726px 1479px #FFF , 985px 1908px #FFF , 808px 1274px #FFF , 1248px 920px #FFF , 1968px 730px #FFF , 1038px 903px #FFF , 924px 505px #FFF , 1773px 1140px #FFF , 283px 1302px #FFF , 714px 1840px #FFF , 570px 279px #FFF , 1305px 60px #FFF , 818px 1771px #FFF , 215px 1346px #FFF , 582px 1454px #FFF , 354px 1874px #FFF , 917px 1920px #FFF , 1117px 1431px #FFF , 292px 1205px #FFF , 1489px 1091px #FFF , 906px 1316px #FFF , 1515px 1611px #FFF , 1602px 1021px #FFF , 1529px 368px #FFF , 1911px 84px #FFF , 490px 342px #FFF , 419px 1144px #FFF , 361px 642px #FFF , 35px 567px #FFF , 940px 1649px #FFF , 505px 1796px #FFF , 101px 354px #FFF , 474px 1945px #FFF , 705px 1088px #FFF , 1416px 787px #FFF , 215px 1159px #FFF , 712px 1789px #FFF , 93px 1845px #FFF , 412px 992px #FFF , 704px 914px #FFF , 1766px 1784px #FFF , 821px 452px #FFF , 1415px 1036px #FFF , 652px 765px #FFF , 199px 451px #FFF , 98px 1170px #FFF , 1224px 948px #FFF , 1800px 955px #FFF , 1411px 587px #FFF , 443px 769px #FFF , 1037px 1378px #FFF , 1412px 1384px #FFF , 221px 1933px #FFF , 1349px 1543px #FFF , 25px 1012px #FFF , 895px 1684px #FFF , 856px 1552px #FFF , 1061px 595px #FFF , 135px 786px #FFF , 1562px 1506px #FFF , 47px 695px #FFF , 1794px 1857px #FFF , 834px 1217px #FFF , 1722px 687px #FFF , 603px 1686px #FFF , 1980px 998px #FFF , 177px 1892px #FFF , 1589px 1835px #FFF , 82px 180px #FFF , 1694px 595px #FFF , 1618px 278px #FFF , 1047px 1129px #FFF , 977px 181px #FFF , 698px 1643px #FFF , 995px 112px #FFF , 1162px 1268px #FFF , 897px 1162px #FFF , 1153px 237px #FFF , 1226px 657px #FFF , 927px 377px #FFF , 556px 677px #FFF , 990px 1309px #FFF , 1209px 1971px #FFF , 502px 1949px #FFF , 1374px 274px #FFF , 550px 368px #FFF , 1160px 895px #FFF , 137px 1166px #FFF , 67px 1931px #FFF , 989px 569px #FFF , 541px 618px #FFF , 1334px 1967px #FFF , 20px 581px #FFF , 1758px 1414px #FFF , 1009px 1459px #FFF , 288px 1006px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1088px 325px #FFF , 376px 72px #FFF , 392px 321px #FFF , 35px 280px #FFF , 565px 366px #FFF , 1815px 133px #FFF , 63px 564px #FFF , 1122px 1276px #FFF , 1301px 698px #FFF , 1135px 635px #FFF , 983px 512px #FFF , 419px 854px #FFF , 119px 293px #FFF , 1829px 1486px #FFF , 988px 295px #FFF , 1488px 1910px #FFF , 568px 1481px #FFF , 1768px 1310px #FFF , 983px 404px #FFF , 1520px 230px #FFF , 1497px 1999px #FFF , 1070px 852px #FFF , 78px 612px #FFF , 395px 1543px #FFF , 973px 866px #FFF , 1759px 76px #FFF , 834px 1285px #FFF , 471px 895px #FFF , 786px 1320px #FFF , 211px 309px #FFF , 811px 1870px #FFF , 1015px 266px #FFF , 1266px 449px #FFF , 710px 844px #FFF , 1215px 1997px #FFF , 966px 716px #FFF , 666px 236px #FFF , 726px 1289px #FFF , 1060px 455px #FFF , 378px 1460px #FFF , 1942px 789px #FFF , 129px 1554px #FFF , 422px 259px #FFF , 778px 1803px #FFF , 1717px 1770px #FFF , 1852px 690px #FFF , 1492px 1817px #FFF , 1725px 1390px #FFF , 1245px 544px #FFF , 1393px 1941px #FFF , 337px 1234px #FFF , 1125px 298px #FFF , 965px 312px #FFF , 1852px 1366px #FFF , 1175px 482px #FFF , 1274px 210px #FFF , 828px 1290px #FFF , 677px 1590px #FFF , 1793px 1430px #FFF , 1717px 1392px #FFF , 735px 829px #FFF , 1232px 1296px #FFF , 1529px 329px #FFF , 1467px 252px #FFF , 1311px 646px #FFF , 1738px 1382px #FFF , 1568px 1093px #FFF , 435px 745px #FFF , 1407px 1436px #FFF , 50px 1059px #FFF , 1561px 120px #FFF , 1629px 933px #FFF , 1668px 1023px #FFF , 1283px 1104px #FFF , 1586px 247px #FFF , 1522px 886px #FFF , 1972px 1762px #FFF , 302px 928px #FFF , 1385px 578px #FFF , 1294px 721px #FFF , 889px 593px #FFF , 539px 655px #FFF , 486px 360px #FFF , 1812px 1841px #FFF , 1937px 234px #FFF , 686px 1715px #FFF , 1253px 1438px #FFF , 336px 990px #FFF , 706px 1761px #FFF , 453px 459px #FFF , 395px 1024px #FFF , 1121px 969px #FFF , 1130px 965px #FFF , 975px 522px #FFF , 1362px 672px #FFF , 569px 1925px #FFF , 1844px 1262px #FFF , 730px 1762px #FFF , 1132px 409px #FFF , 987px 215px #FFF , 403px 1742px #FFF , 494px 274px #FFF , 1574px 93px #FFF , 635px 1026px #FFF , 649px 1668px #FFF , 1988px 1094px #FFF , 11px 579px #FFF , 1152px 576px #FFF , 298px 840px #FFF , 778px 168px #FFF , 1455px 273px #FFF , 1927px 145px #FFF , 647px 1214px #FFF , 771px 1397px #FFF , 1956px 1228px #FFF , 1170px 381px #FFF , 1491px 1009px #FFF , 344px 1513px #FFF , 1818px 344px #FFF , 50px 1387px #FFF , 676px 1713px #FFF , 1302px 1772px #FFF , 1058px 1326px #FFF , 693px 1532px #FFF , 1631px 681px #FFF , 845px 382px #FFF , 1210px 1354px #FFF , 801px 510px #FFF , 542px 1486px #FFF , 1429px 1588px #FFF , 1601px 773px #FFF , 1963px 1515px #FFF , 770px 1768px #FFF , 734px 31px #FFF , 613px 527px #FFF , 444px 67px #FFF , 663px 1222px #FFF , 217px 1147px #FFF , 140px 1223px #FFF , 671px 925px #FFF , 728px 94px #FFF , 1603px 1356px #FFF , 878px 836px #FFF , 1809px 1304px #FFF , 880px 965px #FFF , 1223px 1486px #FFF , 1008px 956px #FFF , 1557px 1670px #FFF , 1799px 340px #FFF , 1783px 1341px #FFF , 1946px 801px #FFF , 1252px 1476px #FFF , 741px 1366px #FFF , 413px 909px #FFF , 1307px 484px #FFF , 198px 1644px #FFF , 877px 1738px #FFF , 734px 974px #FFF , 1928px 1673px #FFF , 1564px 794px #FFF , 1916px 1952px #FFF , 1661px 1459px #FFF , 1492px 1089px #FFF , 319px 837px #FFF , 1731px 1543px #FFF , 1719px 707px #FFF , 1623px 273px #FFF , 299px 1422px #FFF , 690px 1429px #FFF , 993px 145px #FFF , 369px 1427px #FFF , 275px 530px #FFF , 417px 1741px #FFF , 653px 1032px #FFF , 1062px 755px #FFF , 1047px 1478px #FFF , 1767px 421px #FFF , 479px 292px #FFF , 1688px 383px #FFF , 192px 869px #FFF , 1099px 281px #FFF , 804px 327px #FFF , 1688px 1227px #FFF , 587px 1374px #FFF , 764px 1281px #FFF , 1264px 242px #FFF , 1204px 780px #FFF , 1595px 1101px #FFF , 555px 840px #FFF , 1474px 889px #FFF , 197px 891px #FFF , 1310px 1129px #FFF , 1020px 1405px #FFF , 501px 776px #FFF , 246px 1326px #FFF , 1770px 1757px #FFF , 1474px 19px #FFF , 1786px 795px #FFF , 828px 198px #FFF , 1288px 562px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1088px 325px #FFF , 376px 72px #FFF , 392px 321px #FFF , 35px 280px #FFF , 565px 366px #FFF , 1815px 133px #FFF , 63px 564px #FFF , 1122px 1276px #FFF , 1301px 698px #FFF , 1135px 635px #FFF , 983px 512px #FFF , 419px 854px #FFF , 119px 293px #FFF , 1829px 1486px #FFF , 988px 295px #FFF , 1488px 1910px #FFF , 568px 1481px #FFF , 1768px 1310px #FFF , 983px 404px #FFF , 1520px 230px #FFF , 1497px 1999px #FFF , 1070px 852px #FFF , 78px 612px #FFF , 395px 1543px #FFF , 973px 866px #FFF , 1759px 76px #FFF , 834px 1285px #FFF , 471px 895px #FFF , 786px 1320px #FFF , 211px 309px #FFF , 811px 1870px #FFF , 1015px 266px #FFF , 1266px 449px #FFF , 710px 844px #FFF , 1215px 1997px #FFF , 966px 716px #FFF , 666px 236px #FFF , 726px 1289px #FFF , 1060px 455px #FFF , 378px 1460px #FFF , 1942px 789px #FFF , 129px 1554px #FFF , 422px 259px #FFF , 778px 1803px #FFF , 1717px 1770px #FFF , 1852px 690px #FFF , 1492px 1817px #FFF , 1725px 1390px #FFF , 1245px 544px #FFF , 1393px 1941px #FFF , 337px 1234px #FFF , 1125px 298px #FFF , 965px 312px #FFF , 1852px 1366px #FFF , 1175px 482px #FFF , 1274px 210px #FFF , 828px 1290px #FFF , 677px 1590px #FFF , 1793px 1430px #FFF , 1717px 1392px #FFF , 735px 829px #FFF , 1232px 1296px #FFF , 1529px 329px #FFF , 1467px 252px #FFF , 1311px 646px #FFF , 1738px 1382px #FFF , 1568px 1093px #FFF , 435px 745px #FFF , 1407px 1436px #FFF , 50px 1059px #FFF , 1561px 120px #FFF , 1629px 933px #FFF , 1668px 1023px #FFF , 1283px 1104px #FFF , 1586px 247px #FFF , 1522px 886px #FFF , 1972px 1762px #FFF , 302px 928px #FFF , 1385px 578px #FFF , 1294px 721px #FFF , 889px 593px #FFF , 539px 655px #FFF , 486px 360px #FFF , 1812px 1841px #FFF , 1937px 234px #FFF , 686px 1715px #FFF , 1253px 1438px #FFF , 336px 990px #FFF , 706px 1761px #FFF , 453px 459px #FFF , 395px 1024px #FFF , 1121px 969px #FFF , 1130px 965px #FFF , 975px 522px #FFF , 1362px 672px #FFF , 569px 1925px #FFF , 1844px 1262px #FFF , 730px 1762px #FFF , 1132px 409px #FFF , 987px 215px #FFF , 403px 1742px #FFF , 494px 274px #FFF , 1574px 93px #FFF , 635px 1026px #FFF , 649px 1668px #FFF , 1988px 1094px #FFF , 11px 579px #FFF , 1152px 576px #FFF , 298px 840px #FFF , 778px 168px #FFF , 1455px 273px #FFF , 1927px 145px #FFF , 647px 1214px #FFF , 771px 1397px #FFF , 1956px 1228px #FFF , 1170px 381px #FFF , 1491px 1009px #FFF , 344px 1513px #FFF , 1818px 344px #FFF , 50px 1387px #FFF , 676px 1713px #FFF , 1302px 1772px #FFF , 1058px 1326px #FFF , 693px 1532px #FFF , 1631px 681px #FFF , 845px 382px #FFF , 1210px 1354px #FFF , 801px 510px #FFF , 542px 1486px #FFF , 1429px 1588px #FFF , 1601px 773px #FFF , 1963px 1515px #FFF , 770px 1768px #FFF , 734px 31px #FFF , 613px 527px #FFF , 444px 67px #FFF , 663px 1222px #FFF , 217px 1147px #FFF , 140px 1223px #FFF , 671px 925px #FFF , 728px 94px #FFF , 1603px 1356px #FFF , 878px 836px #FFF , 1809px 1304px #FFF , 880px 965px #FFF , 1223px 1486px #FFF , 1008px 956px #FFF , 1557px 1670px #FFF , 1799px 340px #FFF , 1783px 1341px #FFF , 1946px 801px #FFF , 1252px 1476px #FFF , 741px 1366px #FFF , 413px 909px #FFF , 1307px 484px #FFF , 198px 1644px #FFF , 877px 1738px #FFF , 734px 974px #FFF , 1928px 1673px #FFF , 1564px 794px #FFF , 1916px 1952px #FFF , 1661px 1459px #FFF , 1492px 1089px #FFF , 319px 837px #FFF , 1731px 1543px #FFF , 1719px 707px #FFF , 1623px 273px #FFF , 299px 1422px #FFF , 690px 1429px #FFF , 993px 145px #FFF , 369px 1427px #FFF , 275px 530px #FFF , 417px 1741px #FFF , 653px 1032px #FFF , 1062px 755px #FFF , 1047px 1478px #FFF , 1767px 421px #FFF , 479px 292px #FFF , 1688px 383px #FFF , 192px 869px #FFF , 1099px 281px #FFF , 804px 327px #FFF , 1688px 1227px #FFF , 587px 1374px #FFF , 764px 1281px #FFF , 1264px 242px #FFF , 1204px 780px #FFF , 1595px 1101px #FFF , 555px 840px #FFF , 1474px 889px #FFF , 197px 891px #FFF , 1310px 1129px #FFF , 1020px 1405px #FFF , 501px 776px #FFF , 246px 1326px #FFF , 1770px 1757px #FFF , 1474px 19px #FFF , 1786px 795px #FFF , 828px 198px #FFF , 1288px 562px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 178px 332px #FFF , 82px 106px #FFF , 499px 1619px #FFF , 1754px 1908px #FFF , 1262px 294px #FFF , 531px 1484px #FFF , 81px 624px #FFF , 420px 1918px #FFF , 1687px 1282px #FFF , 1566px 261px #FFF , 1050px 878px #FFF , 452px 9px #FFF , 890px 1514px #FFF , 616px 1177px #FFF , 582px 379px #FFF , 1694px 98px #FFF , 1544px 397px #FFF , 1031px 605px #FFF , 86px 720px #FFF , 299px 1410px #FFF , 1697px 1244px #FFF , 1546px 1604px #FFF , 1734px 1067px #FFF , 198px 615px #FFF , 1712px 57px #FFF , 1156px 1784px #FFF , 577px 1423px #FFF , 612px 677px #FFF , 188px 977px #FFF , 969px 1438px #FFF , 349px 538px #FFF , 1738px 79px #FFF , 696px 1439px #FFF , 92px 955px #FFF , 262px 803px #FFF , 270px 1240px #FFF , 1631px 971px #FFF , 1220px 1961px #FFF , 1788px 621px #FFF , 1px 1145px #FFF , 793px 1346px #FFF , 1784px 166px #FFF , 1769px 1057px #FFF , 1898px 1421px #FFF , 1569px 76px #FFF , 1607px 117px #FFF , 341px 1607px #FFF , 397px 461px #FFF , 345px 308px #FFF , 923px 1406px #FFF , 1168px 188px #FFF , 138px 1680px #FFF , 995px 1518px #FFF , 73px 906px #FFF , 612px 529px #FFF , 1460px 114px #FFF , 252px 1743px #FFF , 557px 585px #FFF , 1077px 503px #FFF , 1806px 645px #FFF , 575px 171px #FFF , 1172px 89px #FFF , 743px 1147px #FFF , 384px 1900px #FFF , 1907px 1860px #FFF , 1230px 1127px #FFF , 591px 230px #FFF , 1695px 398px #FFF , 1600px 1882px #FFF , 1167px 1896px #FFF , 513px 1980px #FFF , 1360px 1946px #FFF , 818px 20px #FFF , 681px 165px #FFF , 1138px 1552px #FFF , 1720px 735px #FFF , 1078px 390px #FFF , 1898px 620px #FFF , 1022px 779px #FFF , 1610px 1594px #FFF , 205px 1494px #FFF , 1930px 86px #FFF , 1697px 210px #FFF , 725px 217px #FFF , 1168px 258px #FFF , 1250px 1521px #FFF , 1132px 1013px #FFF , 1503px 1945px #FFF , 1648px 801px #FFF , 1647px 889px #FFF , 821px 198px #FFF , 242px 684px #FFF , 909px 1814px #FFF , 1225px 1553px #FFF , 1421px 1601px #FFF , 1943px 1520px #FFF , 1845px 1888px #FFF , 516px 1693px #FFF , 308px 15px #FFF , 720px 705px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 178px 332px #FFF , 82px 106px #FFF , 499px 1619px #FFF , 1754px 1908px #FFF , 1262px 294px #FFF , 531px 1484px #FFF , 81px 624px #FFF , 420px 1918px #FFF , 1687px 1282px #FFF , 1566px 261px #FFF , 1050px 878px #FFF , 452px 9px #FFF , 890px 1514px #FFF , 616px 1177px #FFF , 582px 379px #FFF , 1694px 98px #FFF , 1544px 397px #FFF , 1031px 605px #FFF , 86px 720px #FFF , 299px 1410px #FFF , 1697px 1244px #FFF , 1546px 1604px #FFF , 1734px 1067px #FFF , 198px 615px #FFF , 1712px 57px #FFF , 1156px 1784px #FFF , 577px 1423px #FFF , 612px 677px #FFF , 188px 977px #FFF , 969px 1438px #FFF , 349px 538px #FFF , 1738px 79px #FFF , 696px 1439px #FFF , 92px 955px #FFF , 262px 803px #FFF , 270px 1240px #FFF , 1631px 971px #FFF , 1220px 1961px #FFF , 1788px 621px #FFF , 1px 1145px #FFF , 793px 1346px #FFF , 1784px 166px #FFF , 1769px 1057px #FFF , 1898px 1421px #FFF , 1569px 76px #FFF , 1607px 117px #FFF , 341px 1607px #FFF , 397px 461px #FFF , 345px 308px #FFF , 923px 1406px #FFF , 1168px 188px #FFF , 138px 1680px #FFF , 995px 1518px #FFF , 73px 906px #FFF , 612px 529px #FFF , 1460px 114px #FFF , 252px 1743px #FFF , 557px 585px #FFF , 1077px 503px #FFF , 1806px 645px #FFF , 575px 171px #FFF , 1172px 89px #FFF , 743px 1147px #FFF , 384px 1900px #FFF , 1907px 1860px #FFF , 1230px 1127px #FFF , 591px 230px #FFF , 1695px 398px #FFF , 1600px 1882px #FFF , 1167px 1896px #FFF , 513px 1980px #FFF , 1360px 1946px #FFF , 818px 20px #FFF , 681px 165px #FFF , 1138px 1552px #FFF , 1720px 735px #FFF , 1078px 390px #FFF , 1898px 620px #FFF , 1022px 779px #FFF , 1610px 1594px #FFF , 205px 1494px #FFF , 1930px 86px #FFF , 1697px 210px #FFF , 725px 217px #FFF , 1168px 258px #FFF , 1250px 1521px #FFF , 1132px 1013px #FFF , 1503px 1945px #FFF , 1648px 801px #FFF , 1647px 889px #FFF , 821px 198px #FFF , 242px 684px #FFF , 909px 1814px #FFF , 1225px 1553px #FFF , 1421px 1601px #FFF , 1943px 1520px #FFF , 1845px 1888px #FFF , 516px 1693px #FFF , 308px 15px #FFF , 720px 705px #FFF;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}